In [16]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

##1. Advanced CRUD Operations

- Exercise 1: Use bulk_write to insert, update, and delete multiple documents simultaneously.
- Task 1: Insert a dataset of courses where each course has multiple student enrollments, then display the data.

In [17]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://gemarizqimuliaakbar:mongogema@cluster0.gi4bm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [20]:
# Task 1: Insert a dataset
operations = [
    # Insert new courses
    InsertOne({'course': 'Sociology 101', 'enrollments': 22, 'department': 'Sociology'}),
    InsertOne({'course': 'Anthropology 101', 'enrollments': 19, 'department': 'Anthropology'}),
    InsertOne({'course': 'Mathematics 401', 'enrollments': 20, 'department': 'Mathematics'}),
    InsertOne({'course': 'Chemistry 201', 'enrollments': 25, 'department': 'Chemistry'}),
    InsertOne({'course': 'Biology 301', 'enrollments': 18, 'department': 'Biology'}),
    InsertOne({'course': 'Physics 303', 'enrollments': 21, 'department': 'Physics'}),
    InsertOne({'course': 'English Literature 202', 'enrollments': 28, 'department': 'English'}),
    InsertOne({'course': 'Art History 201', 'enrollments': 24, 'department': 'Art'}),
    InsertOne({'course': 'Political Science 301', 'enrollments': 27, 'department': 'Political Science'}),
    InsertOne({'course': 'Economics 201', 'enrollments': 30, 'department': 'Economics'}),
    InsertOne({'course': 'Psychology 201', 'enrollments': 26, 'department': 'Psychology'}),
    InsertOne({'course': 'Geology 201', 'enrollments': 29, 'department': 'Geology'}),
    InsertOne({'course': 'Environmental Science 101', 'enrollments': 20, 'department': 'Environmental Science'}),
    InsertOne({'course': 'Statistics 201', 'enrollments': 32, 'department': 'Mathematics'}),
    InsertOne({'course': 'Philosophy 201', 'enrollments': 15, 'department': 'Philosophy'}),
    InsertOne({'course': 'Computer Science 401', 'enrollments': 40, 'department': 'Computer Science'}),
    InsertOne({'course': 'Data Science 101', 'enrollments': 33, 'department': 'Data Science'}),
    InsertOne({'course': 'Machine Learning 101', 'enrollments': 35, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 303', 'enrollments': 17, 'department': 'History'}),
    InsertOne({'course': 'Astronomy 101', 'enrollments': 22, 'department': 'Astronomy'})
]
courses_collection.bulk_write(operations)
print('New courses inserted successfully.')

New courses inserted successfully.

In [18]:
# Update a dataset
operations = [
    UpdateOne({'course': 'Math 101'}, {'$set': {'enrollments': 35}}),
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollments': 30}}),
    UpdateOne({'course': 'History 201'}, {'$inc': {'enrollments': 5}})
]
courses_collection.bulk_write(operations)
print('Datasets updated successfully.')

Datasets updated successfully.

In [21]:
# Delete a dataset
operations = [
    DeleteOne({'course': 'Sociology 101'}),
    DeleteOne({'course': 'Anthropology 101'}),
    DeleteOne({'course': 'Physics 202'}),
    DeleteOne({'department': 'Philosophy'})
]
courses_collection.bulk_write(operations)
print('Datasets deleted successfully.')

Datasets deleted successfully.

##2. Complex Filtering and Querying

- Exercise 2: Filter courses with enrollments over 20 students.
- Task 2: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [22]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('6733414687f9544d6a31d801'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('6733414687f9544d6a31d802'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('6733414687f9544d6a31d803'), 'course': 'History 201', 'enrollments': 25, 'department': 'History'}
{'_id': ObjectId('6733426a87f9544d6a31d808'), 'course': 'Chemistry 201', 'enrollments': 25, 'department': 'Chemistry'}
{'_id': ObjectId('6733426a87f9544d6a31d80a'), 'course': 'Physics 303', 'enrollments': 21, 'department': 'Physics'}
{'_id': ObjectId('6733426a87f9544d6a31d80b'), 'course': 'English Literature 202', 'enrollments': 28, 'department': 'English'}
{'_id': ObjectId('6733426a87f9544d6a31d80c'), 'course': 'Art History 201', 'enrollments': 24, 'department': 'Art'}
{'_id': ObjectId('6733426a87f9544d6a31d80d'), 'course': 'Political Science 301', 'enrollments': 27, 'department': 'Political Science'}
{'_id': ObjectId('6733426a87f9544d6a31d80e'), 'course': 'Economics 201', 'enrollments': 30, 'department': 'Economics'}
{'_id': ObjectId('6733426a87f9544d6a31d80f'), 'course': 'Psychology 201', 'enrollments': 26, 'department': 'Psychology'}
{'_id': ObjectId('6733426a87f9544d6a31d810'), 'course': 'Geology 201', 'enrollments': 29, 'department': 'Geology'}
{'_id': ObjectId('6733426a87f9544d6a31d812'), 'course': 'Statistics 201', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('6733426a87f9544d6a31d814'), 'course': 'Computer Science 401', 'enrollments': 40, 'department': 'Computer Science'}
{'_id': ObjectId('6733426a87f9544d6a31d815'), 'course': 'Data Science 101', 'enrollments': 33, 'department': 'Data Science'}
{'_id': ObjectId('6733426a87f9544d6a31d816'), 'course': 'Machine Learning 101', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('6733426a87f9544d6a31d818'), 'course': 'Astronomy 101', 'enrollments': 22, 'department': 'Astronomy'}

In [23]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('6733414687f9544d6a31d801'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('6733414687f9544d6a31d802'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('6733426a87f9544d6a31d807'), 'course': 'Mathematics 401', 'enrollments': 20, 'department': 'Mathematics'}
{'_id': ObjectId('6733426a87f9544d6a31d812'), 'course': 'Statistics 201', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('6733426a87f9544d6a31d814'), 'course': 'Computer Science 401', 'enrollments': 40, 'department': 'Computer Science'}
{'_id': ObjectId('6733426a87f9544d6a31d816'), 'course': 'Machine Learning 101', 'enrollments': 35, 'department': 'Computer Science'}

##3. Aggregation Framework for Data Analysis

- Exercise 3: Use aggregation to find the average enrollment per department.
- Task 3: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [24]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Chemistry', 'average_enrollment': 25.0}
{'_id': 'Physics', 'average_enrollment': 21.0}
{'_id': 'Political Science', 'average_enrollment': 27.0}
{'_id': 'Art', 'average_enrollment': 24.0}
{'_id': 'Mathematics', 'average_enrollment': 29.0}
{'_id': 'Psychology', 'average_enrollment': 26.0}
{'_id': 'History', 'average_enrollment': 21.0}
{'_id': 'Biology', 'average_enrollment': 18.0}
{'_id': 'Geology', 'average_enrollment': 29.0}
{'_id': 'Economics', 'average_enrollment': 30.0}
{'_id': 'Data Science', 'average_enrollment': 33.0}
{'_id': 'Computer Science', 'average_enrollment': 35.0}
{'_id': 'Environmental Science', 'average_enrollment': 20.0}
{'_id': 'English', 'average_enrollment': 28.0}
{'_id': 'Astronomy', 'average_enrollment': 22.0}

In [25]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Political Science', 'max_enrollment': 27}
{'_id': 'Physics', 'max_enrollment': 21}
{'_id': 'Mathematics', 'max_enrollment': 35}
{'_id': 'History', 'max_enrollment': 25}
{'_id': 'Psychology', 'max_enrollment': 26}
{'_id': 'Data Science', 'max_enrollment': 33}
{'_id': 'Computer Science', 'max_enrollment': 40}
{'_id': 'Economics', 'max_enrollment': 30}
{'_id': 'Biology', 'max_enrollment': 18}
{'_id': 'Geology', 'max_enrollment': 29}
{'_id': 'Environmental Science', 'max_enrollment': 20}
{'_id': 'Astronomy', 'max_enrollment': 22}
{'_id': 'English', 'max_enrollment': 28}
{'_id': 'Chemistry', 'max_enrollment': 25}
{'_id': 'Art', 'max_enrollment': 24}

##4. Data Transformation using  projectand addFields

- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [26]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6733414687f9544d6a31d801'), 'enrollments': 35, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6733414687f9544d6a31d802'), 'enrollments': 30, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6733414687f9544d6a31d803'), 'enrollments': 25, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6733426a87f9544d6a31d807'), 'enrollments': 20, 'course_name': 'Mathematics 401', 'department_name': 'Mathematics'}
{'_id': ObjectId('6733426a87f9544d6a31d808'), 'enrollments': 25, 'course_name': 'Chemistry 201', 'department_name': 'Chemistry'}
{'_id': ObjectId('6733426a87f9544d6a31d809'), 'enrollments': 18, 'course_name': 'Biology 301', 'department_name': 'Biology'}
{'_id': ObjectId('6733426a87f9544d6a31d80a'), 'enrollments': 21, 'course_name': 'Physics 303', 'department_name': 'Physics'}
{'_id': ObjectId('6733426a87f9544d6a31d80b'), 'enrollments': 28, 'course_name': 'English Literature 202', 'department_name': 'English'}
{'_id': ObjectId('6733426a87f9544d6a31d80c'), 'enrollments': 24, 'course_name': 'Art History 201', 'department_name': 'Art'}
{'_id': ObjectId('6733426a87f9544d6a31d80d'), 'enrollments': 27, 'course_name': 'Political Science 301', 'department_name': 'Political Science'}
{'_id': ObjectId('6733426a87f9544d6a31d80e'), 'enrollments': 30, 'course_name': 'Economics 201', 'department_name': 'Economics'}
{'_id': ObjectId('6733426a87f9544d6a31d80f'), 'enrollments': 26, 'course_name': 'Psychology 201', 'department_name': 'Psychology'}
{'_id': ObjectId('6733426a87f9544d6a31d810'), 'enrollments': 29, 'course_name': 'Geology 201', 'department_name': 'Geology'}
{'_id': ObjectId('6733426a87f9544d6a31d811'), 'enrollments': 20, 'course_name': 'Environmental Science 101', 'department_name': 'Environmental Science'}
{'_id': ObjectId('6733426a87f9544d6a31d812'), 'enrollments': 32, 'course_name': 'Statistics 201', 'department_name': 'Mathematics'}
{'_id': ObjectId('6733426a87f9544d6a31d814'), 'enrollments': 40, 'course_name': 'Computer Science 401', 'department_name': 'Computer Science'}
{'_id': ObjectId('6733426a87f9544d6a31d815'), 'enrollments': 33, 'course_name': 'Data Science 101', 'department_name': 'Data Science'}
{'_id': ObjectId('6733426a87f9544d6a31d816'), 'enrollments': 35, 'course_name': 'Machine Learning 101', 'department_name': 'Computer Science'}
{'_id': ObjectId('6733426a87f9544d6a31d817'), 'enrollments': 17, 'course_name': 'History 303', 'department_name': 'History'}
{'_id': ObjectId('6733426a87f9544d6a31d818'), 'enrollments': 22, 'course_name': 'Astronomy 101', 'department_name': 'Astronomy'}

In [27]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6733414687f9544d6a31d801'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6733414687f9544d6a31d802'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6733414687f9544d6a31d803'), 'course': 'History 201', 'enrollments': 25, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d807'), 'course': 'Mathematics 401', 'enrollments': 20, 'department': 'Mathematics', 'enrollment_category': 'low'}
{'_id': ObjectId('6733426a87f9544d6a31d808'), 'course': 'Chemistry 201', 'enrollments': 25, 'department': 'Chemistry', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d809'), 'course': 'Biology 301', 'enrollments': 18, 'department': 'Biology', 'enrollment_category': 'low'}
{'_id': ObjectId('6733426a87f9544d6a31d80a'), 'course': 'Physics 303', 'enrollments': 21, 'department': 'Physics', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d80b'), 'course': 'English Literature 202', 'enrollments': 28, 'department': 'English', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d80c'), 'course': 'Art History 201', 'enrollments': 24, 'department': 'Art', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d80d'), 'course': 'Political Science 301', 'enrollments': 27, 'department': 'Political Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d80e'), 'course': 'Economics 201', 'enrollments': 30, 'department': 'Economics', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d80f'), 'course': 'Psychology 201', 'enrollments': 26, 'department': 'Psychology', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d810'), 'course': 'Geology 201', 'enrollments': 29, 'department': 'Geology', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d811'), 'course': 'Environmental Science 101', 'enrollments': 20, 'department': 'Environmental Science', 'enrollment_category': 'low'}
{'_id': ObjectId('6733426a87f9544d6a31d812'), 'course': 'Statistics 201', 'enrollments': 32, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d814'), 'course': 'Computer Science 401', 'enrollments': 40, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d815'), 'course': 'Data Science 101', 'enrollments': 33, 'department': 'Data Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d816'), 'course': 'Machine Learning 101', 'enrollments': 35, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6733426a87f9544d6a31d817'), 'course': 'History 303', 'enrollments': 17, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6733426a87f9544d6a31d818'), 'course': 'Astronomy 101', 'enrollments': 22, 'department': 'Astronomy', 'enrollment_category': 'high'}

##Homework

- Homework 1: Perform an aggregation to get a count of courses per department.
- Homework 2: Use $match and $group together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- Homework 3: Apply $lookup to join courses collection with students collection based on student enrollments.

In [28]:
# Homework 1 : Perform an aggregation to get a count of courses per department.
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 2}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Data Science', 'course_count': 2}
{'_id': 'Computer Science', 'course_count': 6}
{'_id': 'Geology', 'course_count': 2}
{'_id': 'Economics', 'course_count': 2}
{'_id': 'Biology', 'course_count': 2}
{'_id': 'History', 'course_count': 4}
{'_id': 'Psychology', 'course_count': 2}
{'_id': 'Mathematics', 'course_count': 6}
{'_id': 'Physics', 'course_count': 2}
{'_id': 'Political Science', 'course_count': 2}
{'_id': 'Chemistry', 'course_count': 2}
{'_id': 'Art', 'course_count': 2}
{'_id': 'Astronomy', 'course_count': 2}
{'_id': 'English', 'course_count': 2}
{'_id': 'Environmental Science', 'course_count': 2}

In [29]:
# Homework 2 : Use $match and $group together to filter and get only courses with enrollments over 25 in 'Computer Science'.
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'total_enrollments': {'$sum': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'CS 102', 'total_enrollments': 30}
{'_id': 'Computer Science 401', 'total_enrollments': 40}
{'_id': 'Machine Learning 101', 'total_enrollments': 35}

In [ ]:
# Homework 3 : Apply $lookup to join courses collection with students collection based on student enrollments.
students_collection = db['students']
pipeline = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'course', 'as': 'students'}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672cd09d73ac768253f8f941'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students': []}
{'_id': ObjectId('672cd09d73ac768253f8f942'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students': []}
{'_id': ObjectId('672cd09d73ac768253f8f943'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students': []}
{'_id': ObjectId('672cd09d73ac768253f8f944'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'students': []}

In [30]:
# Homework 3 : Apply $lookup to join courses collection with students collection based on student enrollments.
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne
client = MongoClient('mongodb+srv://gemarizqimuliaakbar:mongogema@cluster0.gi4bm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['university_db']
students_collection = db['students']
courses_collection = db['courses']

operations = [
    InsertOne({ "course": "Mathematics 101", "enrollments": 40, "department": "Mathematics", "name": ["Dhila", "Atul", "Febri"] }),
    InsertOne({ "course": "Computer Science 102", "enrollments": 32, "department": "Computer Science", "name": ["Alex", "Sophia", "Ben"] }),
    InsertOne({ "course": "History 301", "enrollments": 18, "department": "History", "name": ["Gema", "Dia"] }),
    InsertOne({ "course": "Physics 303", "enrollments": 25, "department": "Physics", "name": ["ipul", "Ana", "Dina"] }),
    InsertOne({ "course": "Biology 201", "enrollments": 20, "department": "Biology", "name": ["Adam", "Olivia"] }),
    InsertOne({ "course": "Chemistry 102", "enrollments": 22, "department": "Chemistry", "name": ["Sophia", "Leo"] }),
    InsertOne({ "course": "Environmental Science 120", "enrollments": 28, "department": "Environmental Science", "name": ["Zharifa", "Doi"] }),
    InsertOne({ "course": "Data Science 201", "enrollments": 40, "department": "Computer Science", "name": ["Liam", "Ella"] }),
    InsertOne({ "course": "Psychology 200", "enrollments": 35, "department": "Psychology", "name": ["Maya", "Isla"] }),
    InsertOne({ "course": "Economics 205", "enrollments": 45, "department": "Economics", "name": ["Daniel", "Emily","Oscar"]})
]
students_collection.bulk_write(operations)
print('Students inserted successfully.')

Students inserted successfully.

In [31]:
pipeline = [
    {'$lookup': {'from': 'students','localField': 'enrollments','foreignField': 'student_id','as': 'student_enrollments'}}
]
for result in students_collection.aggregate(pipeline):
 print(result)

{'_id': ObjectId('67334d6087f9544d6a31d81a'), 'course': 'Mathematics 101', 'enrollments': 40, 'department': 'Mathematics', 'name': ['Dhila', 'Atul', 'Febri'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d81b'), 'course': 'Computer Science 102', 'enrollments': 32, 'department': 'Computer Science', 'name': ['Alex', 'Sophia', 'Ben'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d81c'), 'course': 'History 301', 'enrollments': 18, 'department': 'History', 'name': ['Gema', 'Dia'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d81d'), 'course': 'Physics 303', 'enrollments': 25, 'department': 'Physics', 'name': ['ipul', 'Ana', 'Dina'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d81e'), 'course': 'Biology 201', 'enrollments': 20, 'department': 'Biology', 'name': ['Adam', 'Olivia'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d81f'), 'course': 'Chemistry 102', 'enrollments': 22, 'department': 'Chemistry', 'name': ['Sophia', 'Leo'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d820'), 'course': 'Environmental Science 120', 'enrollments': 28, 'department': 'Environmental Science', 'name': ['Zharifa', 'Doi'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d821'), 'course': 'Data Science 201', 'enrollments': 40, 'department': 'Computer Science', 'name': ['Liam', 'Ella'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d822'), 'course': 'Psychology 200', 'enrollments': 35, 'department': 'Psychology', 'name': ['Maya', 'Isla'], 'student_enrollments': []}
{'_id': ObjectId('67334d6087f9544d6a31d823'), 'course': 'Economics 205', 'enrollments': 45, 'department': 'Economics', 'name': ['Daniel', 'Emily', 'Oscar'], 'student_enrollments': []}