#Implementasi NoSQL Database - MongoDB

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 23.7 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 19.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

##1. Menghubungkan ke Database MongoDB

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://gemarizqimuliaakbar:mongogema@cluster0.gi4bm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

##2. Operasi CRUD Dasar

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

In [ ]:
# Tugas tambahan
# Melakukan Insert data tambahan
employee_data = [
    {'name': 'Gema', 'department': 'businessman', 'age': 26, 'salary': 25000}, {'name': 'Resnu', 'department': 'IT', 'age': 28, 'salary': 10000},
    {'name': 'Dina', 'department': 'hospital administration', 'age': 26, 'salary': 8000}, {'name': 'Zharifa', 'department': 'IT', 'age': 27, 'salary': 7500},
    {'name': 'Ipul', 'department': 'IT', 'age': 28, 'salary': 9000}, {'name': 'Meily', 'department': 'Desain Grafis', 'age': 25, 'salary': 60000},
    {'name': 'Febri', 'department': 'Data Analist', 'age': 27, 'salary': 60000}, {'name': 'Atul', 'department': 'Desain Grafis', 'age': 25, 'salary': 9000},
    {'name': 'Ida', 'department': 'Desainer', 'age': 23, 'salary': 50000}, {'name': 'Ifa', 'department': 'Manager', 'age': 24, 'salary': 70000},
    {'name': 'Widi', 'department': 'IT', 'age': 29, 'salary': 9200}, {'name': 'Rina', 'department': 'IT', 'age': 30, 'salary': 8500},
    {'name': 'Yudi', 'department': 'Desain Grafis', 'age': 26, 'salary': 9500}, {'name': 'Rendi', 'department': 'Desain Grafis', 'age': 24, 'salary': 10500},
    {'name': 'Fitri', 'department': 'Data Analist', 'age': 28, 'salary': 62000}, {'name': 'Hendra', 'department': 'Data Analist', 'age': 26, 'salary': 61000},
    {'name': 'Nina', 'department': 'Desainer', 'age': 24, 'salary': 51000}, {'name': 'Andi', 'department': 'Desainer', 'age': 23, 'salary': 52000},
    {'name': 'Santi', 'department': 'Manager', 'age': 22, 'salary': 72000}, {'name': 'Budi', 'department': 'Manager', 'age': 34, 'salary': 73000},
    {'name': 'Dewi', 'department': 'businessman', 'age': 27, 'salary': 28000}, {'name': 'Lina', 'department': 'businessman', 'age': 29, 'salary': 26500},
    {'name': 'Agung', 'department': 'businessman', 'age': 31, 'salary': 29000}, {'name': 'Sari', 'department': 'businessman', 'age': 33, 'salary': 31000},
    {'name': 'Fajar', 'department': 'businessman', 'age': 21, 'salary': 29500}, {'name': 'Cici', 'department': 'businessman', 'age': 26, 'salary': 27500},
]

collection.insert_many(employee_data)
print('Data telah masuk')

Data telah masuk

In [ ]:
# Melakukan Update data tambahan

# Dilakukan perubahan Salary pada data Gema
collection.update_one(
    {'name': 'Gema'},
    {'$set': {'salary': 26000}}    # Data yang akan diupdate
)
print("Data Gema berhasil diperbarui")

# dilakukan perubahan salary yang departement nya adalah IT
collection.update_many(
    {'department': 'IT'},
    {'$inc': {'salary': 500}}      # Penambahan pada field salary
)
print("Data karyawan di departemen IT berhasil diperbarui")

Data Gema berhasil diperbarui
Data karyawan di departemen IT berhasil diperbarui

In [ ]:
# Melakukan penghapusan data tambahan

# Menghapus data Dina
collection.delete_one(
    {'name': 'Dina'}
)
print("Data Dina berhasil dihapus")

Data Dina berhasil dihapus

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67297e94dac433a59d7e13e9'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('67297fe0dac433a59d7e13ea'), 'name': 'Gema', 'department': 'businessman', 'age': 26, 'salary': 26000}
{'_id': ObjectId('67297fe0dac433a59d7e13eb'), 'name': 'Resnu', 'department': 'IT', 'age': 28, 'salary': 10500}
{'_id': ObjectId('67297fe0dac433a59d7e13ed'), 'name': 'Zharifa', 'department': 'IT', 'age': 27, 'salary': 8000}
{'_id': ObjectId('67297fe0dac433a59d7e13ee'), 'name': 'Ipul', 'department': 'IT', 'age': 28, 'salary': 9500}
{'_id': ObjectId('67297fe0dac433a59d7e13ef'), 'name': 'Meily', 'department': 'Desain Grafis', 'age': 25, 'salary': 60000}
{'_id': ObjectId('67297fe0dac433a59d7e13f0'), 'name': 'Febri', 'department': 'Data Analist', 'age': 27, 'salary': 60000}
{'_id': ObjectId('67297fe0dac433a59d7e13f1'), 'name': 'Atul', 'department': 'Desain Grafis', 'age': 25, 'salary': 9000}
{'_id': ObjectId('67297fe0dac433a59d7e13f2'), 'name': 'Ida', 'department': 'Desainer', 'age': 23, 'salary': 50000}
{'_id': ObjectId('67297fe0dac433a59d7e13f3'), 'name': 'Ifa', 'department': 'Manager', 'age': 24, 'salary': 70000}
{'_id': ObjectId('67297fe0dac433a59d7e13f4'), 'name': 'Widi', 'department': 'IT', 'age': 29, 'salary': 9700}
{'_id': ObjectId('67297fe0dac433a59d7e13f5'), 'name': 'Rina', 'department': 'IT', 'age': 30, 'salary': 9000}
{'_id': ObjectId('67297fe0dac433a59d7e13f6'), 'name': 'Yudi', 'department': 'Desain Grafis', 'age': 26, 'salary': 9500}
{'_id': ObjectId('67297fe0dac433a59d7e13f7'), 'name': 'Rendi', 'department': 'Desain Grafis', 'age': 24, 'salary': 10500}
{'_id': ObjectId('67297fe0dac433a59d7e13f8'), 'name': 'Fitri', 'department': 'Data Analist', 'age': 28, 'salary': 62000}
{'_id': ObjectId('67297fe0dac433a59d7e13f9'), 'name': 'Hendra', 'department': 'Data Analist', 'age': 26, 'salary': 61000}
{'_id': ObjectId('67297fe0dac433a59d7e13fa'), 'name': 'Nina', 'department': 'Desainer', 'age': 24, 'salary': 51000}
{'_id': ObjectId('67297fe0dac433a59d7e13fb'), 'name': 'Andi', 'department': 'Desainer', 'age': 23, 'salary': 52000}
{'_id': ObjectId('67297fe0dac433a59d7e13fc'), 'name': 'Santi', 'department': 'Manager', 'age': 22, 'salary': 72000}
{'_id': ObjectId('67297fe0dac433a59d7e13fd'), 'name': 'Budi', 'department': 'Manager', 'age': 34, 'salary': 73000}
{'_id': ObjectId('67297fe0dac433a59d7e13fe'), 'name': 'Dewi', 'department': 'businessman', 'age': 27, 'salary': 28000}
{'_id': ObjectId('67297fe0dac433a59d7e13ff'), 'name': 'Lina', 'department': 'businessman', 'age': 29, 'salary': 26500}
{'_id': ObjectId('67297fe0dac433a59d7e1400'), 'name': 'Agung', 'department': 'businessman', 'age': 31, 'salary': 29000}
{'_id': ObjectId('67297fe0dac433a59d7e1401'), 'name': 'Sari', 'department': 'businessman', 'age': 33, 'salary': 31000}
{'_id': ObjectId('67297fe0dac433a59d7e1402'), 'name': 'Fajar', 'department': 'businessman', 'age': 21, 'salary': 29500}
{'_id': ObjectId('67297fe0dac433a59d7e1403'), 'name': 'Cici', 'department': 'businessman', 'age': 26, 'salary': 27500}

##3. Query Lebih Kompleks Menggunakan Aggregation

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Manager', 'average_salary': 71666.66666666667}
{'_id': 'Desain Grafis', 'average_salary': 22250.0}
{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': 'IT', 'average_salary': 9340.0}
{'_id': 'businessman', 'average_salary': 28214.285714285714}
{'_id': 'Desainer', 'average_salary': 51000.0}
{'_id': 'Data Analist', 'average_salary': 61000.0}

##4. Latihan Tambahan

In [ ]:
# tugas 4.1
# Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).
product_colecctions = db['products']
products = [
    {'name' : 'Smartphone','category' : 'Elektronik', 'Price' : 12000},
    {'name' : 'Pad','category' : 'Elektronik', 'Price' : 13000},
    {'name' : 'Speaker','category' : 'Elektronik', 'Price' : 200},
    {'name' : 'Chair','category' : 'Furniture', 'Price' : 500},
    {'name' : 'Table','category' : 'Furniture', 'Price' : 1000},
    {'name' : 'Sofa','category' : 'Furniture', 'Price' : 2000},
    {'name' : 'Bed','category' : 'Furniture', 'Price' : 1500},
    {'name' : 'Shirt','category' : 'Pakaian', 'Price' : 100},
    {'name' : 'Jeans','category' : 'Pakaian', 'Price' : 200},
    {'name' : 'Laptop','category' : 'Elektronik', 'Price' : 15000}
     ]
product_colecctions.insert_many(products)
print('Data Produk telah masuk')

Data Produk telah masuk

In [ ]:
# tugas 4.2
# Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

# Menghitung harga rata-rata dari semua produk
average_price = product_colecctions.aggregate([
    {'$group': {'_id': None, 'averagePrice': {'$avg': '$Price'}}}
])
average_price = list(average_price)[0]['averagePrice']

# Mencari produk dengan harga di atas rata-rata
products_above_average = product_colecctions.find({'Price': {'$gt': average_price}})

# Menampilkan hasil
print("Produk dengan harga di atas rata-rata:")
for product in products_above_average:
    print(product)

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('67299547dac433a59d7e1404'), 'name': 'Smartphone', 'category': 'Elektronik', 'Price': 12000}
{'_id': ObjectId('67299547dac433a59d7e1405'), 'name': 'Pad', 'category': 'Elektronik', 'Price': 13000}
{'_id': ObjectId('67299547dac433a59d7e140d'), 'name': 'Laptop', 'category': 'Elektronik', 'Price': 15000}

In [ ]:
# tugas 4.3
# Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

# Aggregation pipeline untuk menghitung total produk per kategori
total_per_category = product_colecctions.aggregate([
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
])

# Menampilkan hasil
print("Total produk dalam setiap kategori:")
for category in total_per_category:
    print(f"Kategori: {category['_id']}, Total Produk: {category['total_products']}")

Total produk dalam setiap kategori:
Kategori: Elektronik, Total Produk: 4
Kategori: Furniture, Total Produk: 4
Kategori: Pakaian, Total Produk: 2

##5. Tugas

In [ ]:
# Tugas 5.1
# Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
top_5_salaries_per_department = collection.aggregate([
    # Mengelompokkan berdasarkan departemen
    {'$group': {
        '_id': '$department',
        'employees': {'$push': {'name': '$name', 'age': '$age', 'salary': '$salary'}}
    }},

    # Mengurutkan karyawan dalam setiap departemen berdasarkan gaji tertinggi
    {'$project': {
        'employees': {'$slice': [{'$sortArray': {'input': '$employees', 'sortBy': {'salary': -1}}}, 5]}
    }}
])

# Menampilkan hasil
print("5 Karyawan dengan gaji tertinggi di setiap departemen:")
for department in top_5_salaries_per_department:
    print(f"\nDepartemen: {department['_id']}")
    for employee in department['employees']:
        print(f"Nama: {employee['name']}, Gaji: {employee['salary']}, Umur: {employee['age']}")

5 Karyawan dengan gaji tertinggi di setiap departemen:

Departemen: businessman
Nama: Sari, Gaji: 31000, Umur: 33
Nama: Fajar, Gaji: 29500, Umur: 21
Nama: Agung, Gaji: 29000, Umur: 31
Nama: Dewi, Gaji: 28000, Umur: 27
Nama: Cici, Gaji: 27500, Umur: 26

Departemen: Manager
Nama: Budi, Gaji: 73000, Umur: 34
Nama: Santi, Gaji: 72000, Umur: 22
Nama: Ifa, Gaji: 70000, Umur: 24

Departemen: Desain Grafis
Nama: Meily, Gaji: 60000, Umur: 25
Nama: Rendi, Gaji: 10500, Umur: 24
Nama: Yudi, Gaji: 9500, Umur: 26
Nama: Atul, Gaji: 9000, Umur: 25

Departemen: Data Analist
Nama: Fitri, Gaji: 62000, Umur: 28
Nama: Hendra, Gaji: 61000, Umur: 26
Nama: Febri, Gaji: 60000, Umur: 27

Departemen: IT
Nama: Resnu, Gaji: 10500, Umur: 28
Nama: Widi, Gaji: 9700, Umur: 29
Nama: Ipul, Gaji: 9500, Umur: 28
Nama: Rina, Gaji: 9000, Umur: 30
Nama: Zharifa, Gaji: 8000, Umur: 27

Departemen: Desainer
Nama: Andi, Gaji: 52000, Umur: 23
Nama: Nina, Gaji: 51000, Umur: 24
Nama: Ida, Gaji: 50000, Umur: 23

In [ ]:
# Menghapus karyawan dengan usia di bawah 25 tahun
collection.delete_many(
    {'age': {'$lt': 25}}
)
print("Karyawan dengan usia di bawah 25 tahun telah berhasil dihapus")

Karyawan dengan usia di bawah 25 tahun telah berhasil dihapus

In [ ]:
# Aggregation pipeline untuk menghitung total gaji per departemen dan rata-rata umur
report = collection.aggregate([{
        '$group': {
            '_id': '$department',                  # Mengelompokkan berdasarkan departemen
            'total_salary': {'$sum': '$salary'},   # Menghitung total gaji di setiap departemen
            'average_age': {'$avg': '$age'}        # Menghitung rata-rata umur karyawan di setiap departemen
        }},
    {
        '$project': {
            'department': '$_id',
            'total_salary': 1,
            'average_age': {'$round': ['$average_age', 2]},  # Membulatkan rata-rata umur hingga 2
            '_id': 0
        }}])

# Menampilkan hasil
print("Laporan Total Gaji dan Rata-rata Umur Karyawan per Departemen:")
for department in report:
    print(f"Departemen: {department['department']}, Total Gaji: {department['total_salary']}, Rata-rata Umur: {department['average_age']}")

Laporan Total Gaji dan Rata-rata Umur Karyawan per Departemen:
Departemen: businessman, Total Gaji: 168000, Rata-rata Umur: 28.67
Departemen: Desain Grafis, Total Gaji: 78500, Rata-rata Umur: 25.33
Departemen: Data Analist, Total Gaji: 183000, Rata-rata Umur: 27.0
Departemen: IT, Total Gaji: 46700, Rata-rata Umur: 28.4
Departemen: Manager, Total Gaji: 73000, Rata-rata Umur: 34.0